*.o
*.gcda
*.gcno
asm-lsw/aligner/cmdline.h
asm-lsw/aligner/asm-lsw-aligner
asm-lsw/smoke-test/*.cc
asm-lsw/src/libasm_lsw.a

local.mk
asm-lsw/smoke-test/tests.mk
asm-lsw/tests/tests
asm-lsw/tests/coverage
