*.o
*.gcda
*.gcno
local.mk

asm-lsw/aligner/asm-lsw-aligner
asm-lsw/aligner/cmdline.h

asm-lsw/smoke-test/*.cc
asm-lsw/smoke-test/tests.mk

asm-lsw/src/libasm_lsw.a

asm-lsw/tests/coverage
asm-lsw/tests/tests
asm-lsw/tests/tests.dSYM
